@font-face {
    font-family: 'KyivType';
    src: url("./font/KyivType.otf");
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;

}
.main-screen {
    position: absolute;
    width: 1245px;
    height: 714px;
    left: 195px;
    top: 0px;
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
}


.background {
    position: absolute;
    width: 1245px;
    height: 714px;
    margin: 0;
    background: #1E0C06;
    border-radius: 43px 0px 0px 43px;
}

.heading-1 {
    position: absolute;
    width: 622px;
    height: 321px;
    top: 75px;
    left: 50px;
    font-family: 'KyivType Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height:103.86px;
    color: #F5F5F5;
    text-transform: uppercase;
}


.heading-2 {
    position: absolute;
    width: 333px;
    height: 78px;
    left: 62px;
    top: 418px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFDBBB;
}

.line-1 {
    position: absolute;
    width: 600px;
    height: 0px;
    left: 320px;
    top: 340px;
    border: 1px solid #F5F5F5;
    transform: rotate(90deg);
}

.image-1 {
    position: absolute;
    width: 205px;
    height: 205px;
    left: 925px;
    top: 43px;
    background: url(./img/1.png);
    border-radius: 42px;
    background-size: cover;
}

.image-2 {
    position: absolute;
    width: 205px;
    height: 205px;
    left: 680px;
    top: 316px;
    background: url(./img/2.png);
    border-radius: 42px;
    background-size: cover;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 50px;
    gap: 10px;
    position: absolute;
    width: 80px;
    height: 35px;
    left: 50px;
    top: 554px;
    background: #728BAD;
    border-radius: 42px;
}

.order-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin:0px;
    padding: 0px;
    font-size: 25px;
    line-height: 36px;
    color: #F5F5F5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.image-3 {
    position: absolute;
    width: 205px;
    height: 205px;
    left: 925px;
    top: 452px;
    background: url(./img/3.png);
    border-radius: 42px;
    background-size: cover;
}